
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(./components/utilities.css);
@import url(./components/hero.css);
@import url(./components/texts.css);
@import url(./components/nav.css);
@import url(./components/footer.css);
@import url(./components/table.css);
@import url(./components/backnotes.css);

:root {
  --bg-color: #e9e6e6;
  --txt-color: rgb(13, 15, 19);
  --desc-color: #131517;
  --nav-color: #120f0f;
  --backnotes-link-color: #2b3d62;
  --backnotes-link-color-hover: #456cb9;
}