table {
    border-collapse: collapse;
    border: 1px solid rgba(221, 221, 221, 0);
    padding: .5em;
    background-color: #efefef1c;
    border-radius: 9px;
    overflow: hidden;
}

th {
    background-color: #666666;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f256;
    border-radius: 9px;
}